@keyframes right {
  0% {
    transform: translateX(0);
  }

  66% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes left {
  0% {
    transform: translateX(0);
  }

  66% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}