header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  height: 6.4rem;
  z-index: 849538;
  .container {
    @include flex(row, center, space-between);
    nav {
      ul {
        display: flex;
        align-items: center;
        list-style: none;
        li {
          &:not(:first-child) {
            margin-left: 3.6rem;
          }
          a {
            font-size: 1.3rem;
            line-height: 18px;
            color: $neutral-colors-200;
            letter-spacing: -0.02em;
          }

        }

      }

    }
    .buttons {
      width: 100%;
      max-width: 29.1rem;
      @include flex(row, center, space-between);
     }
     .btn-mobile {
      display: none;
      cursor: pointer;
   }

  }

  @include responsive(1100px) {
    .container {
      nav {
        ul {
          display: none;
        }
      }
      .buttons {
        display: none;
      }
  
      .btn-mobile {
        display: block;
      }
    }

  }
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5985820580235;
  transition: all .3s;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  .overlay {
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
  }
  aside {
      position: fixed;
      top: 0;
      left: 0;
      width:75%;
      height: 100%;
      background-color: #fff;
      padding: 3rem;
      transform: translateX(-100%);
      transition: all .3s;
      .logo {
          max-width: 15rem;
          margin-bottom: 4rem;
      }

      ul {
        margin-top: 3rem;
        list-style: none;
          li {
            &.ajuda {
              display: none;
            }
              a {
                  padding: 1.5rem 0;
                  display: block;
                  font-size: 1.8rem;
                  color: #5f5c6b;
              }
          }
      }
      .buttons {
        margin-top: 4rem;
        width: 100%;
        max-width: 29.1rem;
        @include flex(row, center, space-between);
       }
  }
}

.menu-opened {
  overflow: hidden;
  .menu-mobile {
      opacity: 1;
      pointer-events: all;
      aside {
          transform: translateX(0%);
      }
  }
}